<h1>Editing tags ticket</h1>

<%= render "form", tags_ticket: @tags_ticket %>

<br>

<div>
  <%= link_to "Show this tags ticket", @tags_ticket %> |
  <%= link_to "Back to tags tickets", tags_tickets_path %>
</div>
