<h1>Editing executive metric</h1>

<%= render "form", executive_metric: @executive_metric %>

<br>

<div>
  <%= link_to "Show this executive metric", @executive_metric %> |
  <%= link_to "Back to executive metrics", executive_metrics_path %>
</div>
